services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: digitallibrary-sql
    environment:
      SA_PASSWORD: "YourStrong@Passw0rd"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql

volumes:
    sqlserver-data: